@using BankListManagement.Models;
@model List<BankBase>
@{
    ViewBag.Title = "BankListIndex";
}

<h2>BankListIndex</h2>

<div class="sc-box scb-table stb-oneline" id="ResultTable">
    @using (Ajax.BeginForm("QueryBankResult", new AjaxOptions { UpdateTargetId = "queryResult" }))
    {
        <div class="btn-box">
            <input type="text" id="txtBankCode" name="BankCode" class="s2i-item" placeholder="請輸入銀行代號">
            <input type="text" id="txtBank" name="BankName" class="s2i-item" placeholder="請輸入查詢銀行">
            <input type="submit" id="btnQuery"  class="btn link-submit" value="查詢"/>
        </div>

    }

</div>

<div id="queryResult">

</div>